{% extends 'index.html' %}


{% block body %}
<div class="p-5 mb-4 mt-5 text-white bg-dark bg-gradient rounded-3">
    <div class="container">
        <h1 class="display-8">Advanced Flask Calculator</h1>
        <p class="lead">Welcome to the advanced calculator</p>
    </div>
</div>

<form class="container" action="{{ url_for('calculate_advanced') }}" method="post">
    <div class="row">
        <div class="col-lg-2 col-md-4">
            <input type="number" step="0.01" name="firstNumber" class="form-control" placeholder="Insert number" required>
        </div>

        <div class="col-lg-2">
            <select id="selectOperation" name="operation" class="form-control" required>
                <option value="">Select...</option>
                <option value="sin">sin</option>
                <option value="cos">cos</option>
                <option value="tan">tan</option>
                <option value="asin">asin</option>
                <option value="acos">acos</option>
                <option value="atan">atan</option>
                <option value="sqrt">Square Root</option>
            </select>
        </div>

        <div class="row mt-3">
            <div class="col-lg-1">
                <div class="text-center">=</div>
            </div>

            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Result" value="{{result}}">
            </div>

            <div class="col-lg-3">
                <input type="submit" value="Calculate" class="btn btn-primary">
            </div>

            <div class="col-lg-3">
                <div class="alert {{color}}">{{note}}</div>
            </div>
        </div>
    </div>
</form>
{% endblock %}