<html>
    <style>
        .center {
            text-align: center;
        }
        .space {
            margin-top: 30px;
        }

        .lspace {
            margin-top: 40px;
        }
    </style>
    <body>
        <h1 class="center">Calculator</h1>
        <form action="/" method="POST">
            <center>
                <div class="lspace"></div>
                <input class="center" type="text" name="a" value="Enter a number">
                <div class="space"></div>
                <input class="center" type="text" name="b" value="Enter a number">
                <div class="space"></div>
                <input class="center" type="text" name="op" value="+, - , *, /">
                <div class="space"></div>
                <button class="center" type="submit" value="submit">Calculate</button>
            </center>
        </form>
        {%if ansh.isdigit()%}
        <p class="center">Answer is : {{ansh}}</p>
        {%endif%}
        {%if ansh%}
        <p class="center">{{ansh}}</p>
        {%endif%}
    </body>
</html>