<html>
    <style>
        .space {
            margin-top: 35px;
        }

        .lspace {
            margin-top: 50px;
        }
    </style>
    <body>
        <form action="/" method="POST">
            <center>
                <div class="lspace"></div>
                <input type="text" name="a" value="A">
                <div class="space"></div>
                <input type="text" name="b" value="B">
                <div class="space"></div>
                <button type="submit" value="submit">Caluclate</button>
            </center>
        </form>
    </body>
</html>